.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.edit-asset {
  width: 900px;
  max-width: 95vw;

  h2 {
    margin-bottom: 16px;
  }

  .edit-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /* LEFT */
  .left {
    .preview {
      text-align: center;

      img {
        max-width: 100%;
        max-height: 320px;
        object-fit: contain;
        border: 1px solid #eee;
        border-radius: 4px;
      }

      .no-preview {
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f3f3f3;
        color: #777;
        border-radius: 4px;
      }
    }

    .replace {
      display: flex;
      align-items: center;
      gap: 10px;
      
      .btn {
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        background: #30308b;
        color: #fff;
      }
    }
  }

  /* RIGHT */
  .right {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .form {
      display: grid;
      grid-template-columns: 1fr;
      gap: 8px;
    }
  }
}

.actions {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      gap: 10px;
}

.actions .btn {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

  &.primary {
    background: #30308b;
    color: #fff;
  }
}

.dropdown-tree .selected{
    background: #ffffff;
    border: 1px solid #2a2a33; 
    border-radius: 6px;
    padding: 6px 10px;

  &:hover {
    border-color: #30308b;
    background-color: #e3e1ea;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .edit-asset {
    .edit-body {
      grid-template-columns: 1fr;
    }
  }
}
