.folder-content {
  padding: 10px;

  .toolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 12px;

    .item {
      text-align: center;

      img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 6px;
      }

      .name {
        margin-top: 5px;
        font-size: 12px;
      }
    }
  }
}
