<div class="animated fadeIn">
    <p-panel #pnl [style]="{ 'margin-bottom': '10px' }">
        <p-header> Quản lý Menu </p-header>
        <div class="row">
            <div class="col-4">
                <button appPermission appPolicy="Permissions.Menu.View" pButton type="button" label="Thêm"
                    icon="fa fa-plus" (click)="showAddModal()" class="p-button-sm p-button-success ms-1"></button>

                <button appPermission appPolicy="Permissions.Menu.View" pButton type="button" label="Xóa"
                    icon="fa fa-trash" class="p-button-sm p-button-danger ms-1" *ngIf="selectedItems.length > 0"
                    (click)="deleteItems()"></button>

                <button appPermission appPolicy="Permissions.Menu.View" pButton type="button" label="Sửa"
                    icon="fa fa-edit" class="p-button-sm p-button-warning ms-1" *ngIf="selectedItems.length == 1"
                    (click)="showEditModal()"></button>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <input id="txtKeyword" pInputText (keyup.enter)="loadData()" [(ngModel)]="keyword"
                            placeholder="Nhập từ khóa..." type="text" />
                    </div>
                    <div class="col">
                        <button type="button" pButton (click)="loadData()">Tìm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems"
                [metaKeySelection]="true" [responsive]="true" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[10, 20, 50, 100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 10px">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">Tên <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="menuGroup">Nhóm <p-sortIcon field="menuGroup"></p-sortIcon></th>
                        <th pSortableColumn="linkType">Loại <p-sortIcon field="linkType"></p-sortIcon></th>
                        <th pSortableColumn="sortOrder">Thứ tự <p-sortIcon field="sortOrder"></p-sortIcon></th>
                        <th pSortableColumn="isActive">Trạng thái <p-sortIcon field="isActive"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr [pSelectableRow]="row">
                        <td style="width: 10px">
                            <span class="ui-column-title"></span>
                            <p-tableCheckbox [value]="row"></p-tableCheckbox>
                        </td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.menuGroup }}</td>
                        <td>{{ row.linkType }}</td>
                        <td>{{ row.sortOrder }}</td>
                        <td>
                            <p-badge *ngIf="row.isActive" value="Kích hoạt" severity="success"></p-badge>
                            <p-badge *ngIf="!row.isActive" value="Khóa" severity="danger"></p-badge>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div style="text-align: left">Tổng số: {{ totalCount | number }}</div>
                </ng-template>
            </p-table>
        </div>

        <p-blockUI [target]="pnl" [blocked]="blockedPanel">
            <p-progressSpinner
                [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
                strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
        </p-blockUI>
    </p-panel>
    <p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>