<div class="media-card" [class.selected]="isSelected" (click)="edit.emit(file)">
  <!-- CHECKBOX -->
  <div class="select-box"
       (click)="toggle.emit(); $event.stopPropagation()">
    <input
      type="checkbox"
      [checked]="isSelected"
      (click)="$event.stopPropagation(); toggle.emit()" />
  </div>

  <!-- Edit -->
  <!-- EDIT -->
  <div class="edit-box"
      title="Edit"
      (click)="$event.stopPropagation(); edit.emit(file)">
    <i class="fa fa-pen"></i>
  </div>


  <div class="card media-panel" [class.list]="listView">
    <div class="thumb">
      <img *ngIf="getThumb(); else noThumb" [src]="getThumb()" alt="{{file.fileName}}">
      <ng-template #noThumb>
        <div class="no-thumb">Không có bản review</div>
      </ng-template>
    </div>
    <div class="info">
      <div class="title">{{ file.fileName }}</div>
      <div class="meta">{{ MediaType[file.mediaType] }}</div>
    </div>
  </div>
</div>
